PORT=8080

DB_HOST=127.0.0.1 # kalo running tanpa docker
# DB_HOST=db # kalo running pake docker
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=modalin-db
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta
JWT_SECRET=replace-with-a-long-random-secret
